# Arquivos de credenciais específicos
**/fiap-boot-*.json
**/service-account*.json
**/credentials*.json
**/*-key.json
**/*-credentials.json

# Arquivos do sistema
.DS_Store
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# Arquivos temporários
*.tmp
*.log

# Arquivos específicos do projeto
uploads/
~/
